{% extends 'Projeto_Bandas/base.html' %}
{% block title %}
Cadastrar banda
{% endblock %}
{% block content %}

<section class="formulario-pagina">
    <h1>Cadastre a nova banda</h1>
<form method="post" enctype="multipart/form-data" class="formulario" id="form-banda">
  {% csrf_token %}
  {{form.as_p}}
    <p>
        <label for="demo-arquivo">Demo audio: </label>
        <input type="file" id="demo-arquivo" accept="audio/mpeg">
    </p>

    <p id="status-demo"></p>


  <button type="submit" class="botao-principal" id="botao-cadastrar">Cadastrar banda</button>
</form>

<a href="{%url 'home' %}" class="botao-voltar">Voltar</a>

    </section>
<script>
    const formulario = document.getElementById('form-banda');
const demoArquivo = document.getElementById('demo-arquivo');
const demoUrl = document.getElementById('id_demo_audio_url');
const statusDemo = document.getElementById('status-demo');
const botaoCadastrar = document.getElementById('botao-cadastrar');

formulario.addEventListener('submit', async function(event) {

    if (!demoArquivo.files.length) {
        return;
    }

    event.preventDefault();

    botaoCadastrar.disabled = true;
    statusDemo.textContent = 'Enviando demo...';

    const dados = new FormData();
    dados.append('file', demoArquivo.files[0]);
    dados.append('upload_preset', 'demos_unsigned');

    try {
        const resposta = await fetch(
            'https://api.cloudinary.com/v1_1/wblicxjs/video/upload',
            {
                method: 'POST',
                body: dados
            }
        );

        if (!resposta.ok) {
            throw new Error('Erro no upload');
        }

        const resultado = await resposta.json();

        demoUrl.value = resultado.secure_url;

        statusDemo.textContent = 'Demo enviada com sucesso!';

        demoArquivo.value = '';

        formulario.submit();

    } catch (erro) {
        console.error(erro);

        statusDemo.textContent = 'Erro ao enviar a demo.';
        botaoCadastrar.disabled = false;
    }
});
</script>
{% endblock %}